<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>THỦY LỢI ĐA ĐỘ</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</head>
<body>
<div class="nav-1">
  <div class="nav-1-1">
    <div class="nav-1-1-1">
      <img src="../../../assets/images/Logo%20Cty%20(Chuan).png" alt="Error">
    </div>
    <div class="nav-1-1-2"><div class="nav-1-1-2-a">TLĐ</div></div>
  </div>
  <div class="nav-1-2">
    <div class="nav-1-2-1"><p>Giới thiệu</p></div>
    <div class="nav-1-2-2"><p>Lĩnh vực hoạt động</p></div>
    <div class="nav-1-2-3"><p>Liên hệ</p></div>
  </div>
  <div class="nav-1-3">
      <a routerLink="/sign-in" class="nav-1-3-1">Đăng nhập</a>
  </div>
</div>
<div class="body-1">
  <img src="../../../assets/images/Rectangle%204.png" alt="Error" class="body-img-1">
  <div class="body-1-1">
    <div class="body-1-1-a">
      <div class="title-1">
        <span>CÔNG TY TNHH  MỘT THÀNH VIÊN</span><br><br>
        <span>KHAI THÁC CÔNG TRÌNH THỦY LỢI ĐA ĐỘ</span>
      </div>
      <div class="title-2">
        <span>Doanh nghiệp hoạt động trong lĩnh vực xây dựng, cung cấp sản phẩm dịch vụ thủy lợi</span><br>
        <span>Địa chỉ: số 385 (Km57, QL10) thị trấn Trường Sơn, An Lão, Hải Phòng</span>
      </div>
      <div class="title-3">
        <button type="button" class="button-1"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
          Xem thêm
        </button>
      </div>
    </div>
    <div class="body-1-1-b">
      <div class="title-a-1">
        <div class="title-a-1-1">
          <div class="circle-1"><img src="../../../assets/images/Exclude.png" alt="Error"></div>
          <div class="circle-2"><img src="../../../assets/images/Exclude1.png" alt="Error"></div>
          <div class="circle-3"><img src="../../../assets/images/Exclude2.png" alt="Error"></div>
        </div>
      </div>
      <div class="title-a-2">
        <img src="../../../assets/images/Group%2022.png" alt="Error">
      </div>
    </div>
  </div>
</div>
<div class="body-2">
  <div class="body-2-1">
    <div class="body-2-1-a">Quy mô doanh nghiệp</div>
    <div class="body-2-1-b"></div>
  </div>
  <div class="body-2-2">
    <div class="body-2-2-1"><p>Doanh nghiệp nhà nước hạng I</p></div>
    <div class="body-2-2-2"><p>05 phòng chức năng</p></div>
    <div class="body-2-2-3"><p>07 trạm, đội sản xuất</p></div>
    <div class="body-2-2-4"><p>+500 lao động</p></div>
    <div class="body-2-2-5"><p>+1200 công trình</p></div>
  </div>
</div>
<div class="body-3">
  <div class="body-3-1">
    <div class="body-3-1-a">Lĩnh vực hoạt động</div>
    <div class="body-3-1-b"></div>
  </div>
  <div class="body-3-2">
    <div class="body-3-2-a">
      <div class="title-body-1">
        <div class="title-bd-1-1">Thi công xây dựng cơ bản</div>
        <div class="title-bd-1-2">
          Thi công xây dựng công trình thủy lợi<br>
          Thi công xây dựng công trình dân dụng<br>
          Và các công trình khác
        </div>
      </div>
    </div>
    <div class="body-3-2-b">
      <div class="body-img-2"><img src="../../../assets/images/1.129.%20Cong%20Dong%20Tho%20(4%201.png" alt="Error"></div>
    </div>
  </div>
</div>
<div class="body-4">
  <div class="body-4-1">
    <div class="body-img-2"><img src="../../../assets/images/image%204.png" alt="Error"></div>
  </div>
  <div class="body-4-2">
    <div class="title-body-2">
      <div class="title-bd-2-1"><p>Cung cấp sản phẩm dịch vụ thủy lợi</p></div>
      <div class="title-bd-2-2">
        Cung cấp SPDV thủy lợi công ích<br>
        Cung cấp SPDV thủy lợi khác
      </div>
    </div>
  </div>
</div>
<div class="body-5">
  <div class="body-5-1">
    <div class="body-5-1-a">Lĩnh vực hoạt động</div>
    <div class="body-5-1-b"></div>
  </div>
  <div class="body-5-2">Thiết bị điều khiển cống từ xa cống thủy lợi</div>
  <div class="body-5-3">
    <section class="containers">
      <div id="carousel">
        <figure><img src="../../../assets/images/image%203.png" alt="Error"></figure>
        <figure><img src="../../../assets/images/image%205.png" alt=Error></figure>
        <figure><img src="../../../assets/images/Cong%20Trung%20Trang%201.png" alt="Error"></figure>
        <figure><img src="../../../assets/images/338772133_903724527578064_978833958552822435_n.jpg" alt="Error"></figure>
      </div>
    </section>
  </div>
</div>
<div class="footer-1">
  <img src="../../../assets/images/Rectangle%2012.png" alt="Error" class="body-img-3">
  <div class="footer-1-1"></div>
  <div class="footer-1-2">
    <div class="footer-1-2-a">Số điện thoại: (0225).3679522</div>
    <div class="footer-1-2-b">Email: Ctydado@gmail.com</div>
  </div>
</div>
</body>
</html>
