<div class="body-qlct">
  <div class="side-bar-1">
    <button class="sidebar-toggle"><i class="fas fa-bars"></i></button>
    <nav>
      <ul>
        <li><a class="dropdown-toggle"><i class="fas fa-industry"></i><span class="toggle-text">Quản lý công trình</span></a>
          <ul class="dropdown-menu">
            <li><a (click)="tabSelected(1)">Thông tin chung</a></li>
            <li><a href="#">Thông tin quản lý</a></li>
            <li><a (click)="tabSelected(3)">Hồ sơ công trình</a></li>
            <li><a href="#">Hồ sơ vi phạm</a></li>
            <li><a href="#">Hồ sơ vận hành</a></li>
            <li><a href="#">Hồ sơ khác</a></li>
          </ul>
        </li>
        <li><a href="#" class="dropdown-toggle"><i class="fas fa-chart-line"></i><span class="toggle-text">Quản lý SXKD&ĐTPT</span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Dropdown item 1</a></li>
            <li><a href="#">Dropdown item 2</a></li>
            <li><a href="#">Dropdown item 3</a></li>
          </ul>
        </li>
        <li><a href="#" class="dropdown-toggle"><i class="fas fa-users"></i><span
          class="toggle-text">Quản lý nhân sự</span></a>
          <ul class="dropdown-menu">
            <li><a href="#" class="toggle-text">Dropdown item 1</a></li>
            <li><a href="#" class="toggle-text">Dropdown item 2</a></li>
            <li><a href="#" class="toggle-text">Dropdown item 3</a></li>
          </ul>
        </li>
        <li><a href="#" class="dropdown-toggle"><i class="fas fa-money-check"></i><span class="toggle-text">Quản lý tài sản</span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Dropdown item 1</a></li>
            <li><a href="#">Dropdown item 2</a></li>
            <li><a href="#">Dropdown item 3</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="content" *ngIf="tabIndex == 1">
    <app-general-information></app-general-information>
  </div>
  <div class="content" *ngIf="tabIndex == 3">
    <app-construction-profile></app-construction-profile>
  </div>
</div>
