<div id="main-my-side-qlct" class="body-qlct-2-2">
  <div class="links">Quản lý công trình > thông tin chung</div>
  <div class="tabs">
    <div class="tab-i">
      <div class="name-1-1">Tồng công trình</div>
      <div class="number-1-1">{{
        countAll.congDuoiDe +
        countAll.tramBom +
        countAll.kenhCapI +
        countAll.kenhTuoiSauTB +
        countAll.congTrinhTrenKenh
        }}</div>
    </div>
    <div class="tab-item active CONG"
         (click)="
            changeCongTrinhType('CONG', 'Cống dưới đê', countAll.congDuoiDe)
          ">
      <div class="name-1">Cống dưới đê</div>
      <div class="number-1">{{ countAll.congDuoiDe }}</div>
    </div>
    <div class="tab-item TRAM_BOM"
         (click)="
            changeCongTrinhType('TRAM_BOM', 'Trạm bơm', countAll.tramBom)
          ">
      <div class="name-1">Trạm bơm</div>
      <div class="number-1">{{ countAll.tramBom }}</div>
    </div>
    <div class="tab-item KENH_DAT"
         (click)="
            changeCongTrinhType('KENH_DAT', 'Kênh cấp I', countAll.kenhCapI)
          ">
      <div class="name-1">Kênh cấp I</div>
      <div class="number-1">{{ countAll.kenhCapI }}</div>
    </div>
    <div class="tab-item KENH_TUOI"
         (click)="
            changeCongTrinhType(
              'KENH_TUOI',
              'Kênh tưới sau TB',
              countAll.kenhTuoiSauTB
            )
          ">
      <div class="name-1">Kênh tưới sau TB</div>
      <div class="number-1">{{ countAll.kenhTuoiSauTB }}</div>
    </div>
    <div class="tab-item KENH_XAY " (click)="
            changeCongTrinhType(
              'KENH_XAY',
              'Công Trình trên kênh',
              countAll.congTrinhTrenKenh
            )
          ">
      <div class="name-1">Công trình trên kênh</div>
      <div class="number-1">{{ countAll.congTrinhTrenKenh }}</div>
    </div>
  </div>
  <div class="tab-content">
    <div id = "tab-pane-id" class="tab-pane active">
      <div class="menu-tit">
        <div class="menu-tit-1">{{ congTrinhSelectedMessage }}</div>
        <div class="menu-tit-2">
          <div class="m-t-1" id="addNewBtn-1"><i class="fas fa-plus"></i>Thêm mới</div>
          <div id="functionList-1" class="function-list">
            <div class="function-list-item" data-function="thongTinChung">Thông tin chung</div>
            <div class="function-list-item" data-function="thongTinQuanLy">Thông tin quản lý</div>
          </div>
          <!-- The Modal Thong Tin Chung -->
          <div id="myModal-1" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <div class="infor-CT">
                <div class="name-CT">
                  Thông tin chung:
                  <span class="name-1-CT">Công Trình Mới</span>
                </div>
              </div>
              <div class="form-start">
                <table style="overflow: auto">
                  <thead>
                  <tr>
                    <th>TT</th>
                    <th>Hạng mục</th>
                    <th>Nhập thông tin mô tả</th>
                    <th>Nhập dữ liệu</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- Dòng 1 -->
                  <tr>
                    <td>01</td>
                    <td>Mã công trình (ID)</td>
                    <td>
                      <div class="select-wrapper">
                        <select
                          id="project-code-1"
                          name="project-code-1"
                          class="select"
                        >
                          <option value="C">C</option>
                          <option value="K">K</option>
                          <option value="CT">CT</option>
                          <option value="TB">TB</option>
                          <option value="KT">KT</option>
                          <option value="CTTK">CTTK</option>
                          <option value="CTK">CTK</option>
                        </select>
                        <span>STT:</span>
                        <input
                          id="project-code-num-1"
                          name="project-code-num-1"
                          class="input"
                          type="text"
                        />
                        <span
                          class="error-message"
                          id="project-code-error-1"
                        ></span>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                  <!-- Dòng 2 -->
                  <tr>
                    <td>02</td>
                    <td>Tên công trình</td>
                    <td>
                      <input
                        type="text"
                        id="project-name-1"
                        name="project-name-1"
                      />
                      <span
                        class="error-message"
                        id="project-name-error-1"
                      ></span>
                    </td>
                    <td></td>
                  </tr>
                  <!-- Dòng 3 -->
                  <tr>
                    <td>03</td>
                    <td>Vị trí/Địa điểm</td>
                    <td>
                      <input
                        type="text"
                        id="project-location-name-1"
                        name="project-location-name-1"
                      />
                    </td>
                    <td></td>
                  </tr>
                  <!-- Dòng 4 -->
                  <tr>
                    <td></td>
                    <td>Tọa độ</td>
                    <td>
                      <div class="coordinates">
                        <input
                          type="text"
                          placeholder="Tọa độ X"
                          id="project-location-x-1"
                          name="project-location-x-1"
                        />
                        <input
                          type="text"
                          placeholder="Tọa độ Y"
                          id="project-location-y-1"
                          name="project-location-y-1"
                        />
                        <span
                          class="error-message"
                          id="project-location-error-1"
                        ></span>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                  <!-- Dòng 5 -->
                  <tr>
                    <td>04</td>
                    <td>Quy mô</td>
                    <td>
                      <input
                        type="text"
                        id="project-scale-1"
                        name="project-scale-1"
                      />
                    </td>
                    <td></td>
                  </tr>
                  <!-- Dòng 6 -->
                  <tr>
                    <td>05</td>
                    <td>Thiết bị vận hành</td>
                    <td>
                      <input
                        type="text"
                        id="project-equipment-1"
                        name="project-equipment-1"
                      />
                    </td>
                    <td></td>
                  </tr>
                  <!-- Dòng 7 -->
                  <tr>
                    <td>06</td>
                    <td>Công trình liên quan</td>
                    <td>
                      <div>
                        <select
                          multiple
                          id="selectedCT"
                          style="width: 100%"
                        ></select>
                      </div>
                      <div class="autocomplete">
                        <input
                          type="text"
                          placeholder="Tìm kiếm công trình..."
                          id="related-projects-1"
                          name="related-projects-1"
                        />
                        <div
                          class="search-results"
                          id="searchResults"
                          style="display: none"
                        ></div>
                      </div>
                    </td>
                  </tr>
                  <!-- Dòng 9 -->
                  <tr>
                    <td>08</td>
                    <td>Thông tin khác</td>
                    <td>
                      <input
                        type="text"
                        id="other-info"
                        [(ngModel)]="ortherInfomation"
                        name="ortherInfomation"
                      />
                    </td>
                    <td>
                      <div class="info-input-wrapper">
                        <select class="infoType" id="infoTypeSelect">
                          <option value="link">Link</option>
                          <option value="file">File</option>
                        </select>
                        <input
                          type="text"
                          class="input-link"
                          id="input-link"
                          placeholder="Nhập link"
                        />
                        <input
                          type="file"
                          class="input-file"
                          style="display: none"
                          id="input-file"
                          multiple
                          (change)="addFile()"
                        />
                      </div>
                    </td>
                  </tr>
                  <!-- Dòng 10 -->
                  <tr>
                    <td>09</td>
                    <td>Thông tin hình ảnh</td>
                    <td>
                      <select id="imageFiles-1" multiple>
                        <option
                          *ngFor="let img of images; let i = index"
                          [value]="img.name"
                        >
                          {{ img.name }}
                        </option>
                      </select>
                      <button (click)="removeSelectedImage1()">
                        Xóa ảnh
                      </button>
                    </td>
                    <td>
                      <input
                        type="file"
                        id="imageInput-1"
                        name="imageInput"
                        (change)="updateImageOptions1()"
                        multiple
                      />
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="save-noti">
                <table>
                  <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- Dòng 1 -->
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Ghi chú: <input type="text" /></td>
                    <td>
                      Thông báo tới:
                      <select class="select">
                        <option>Không thông báo</option>
                        <option>Toàn công ty</option>
                        <option>Ban giám đốc</option>
                        <option>Phòng Kế hoạch - kỹ thuật</option>
                        <option>Trà (PTP KHKT)</option>
                      </select>
                    </td>
                    <td>
                      <button
                        type="submit"
                        class="butt-can"
                        id="cancelBtn-1"
                      >
                        Hủy
                      </button>
                      <button
                        type="submit"
                        class="butt-sav"
                        id="saveBtn-1"
                        (click)="createCongTrinh()"
                      >
                        Lưu lại
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- The Modal Thong Tin Quan Ly -->
          <div id="myModal2" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close-1">&times;</span>
              <div class="infor-CT">
                <div class="name-CT">Thông tin quản lý:
                  <span class="name-1-CT">Công Trình Cống</span>
                </div>
              </div>
              <div class="form-start">
                <table style="overflow: auto">
                  <thead>
                  <tr>
                    <th>TT</th>
                    <th>Hạng mục</th>
                    <th>Nhập thông tin mô tả</th>
                    <th>Nhập dữ liệu</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- Dòng 1 -->
                  <tr>
                    <td>01</td>
                    <td>Công trình quản lý</td>
                    <td>
                      <div class="select-wrapper2">
                        <select id="project-name-did-1" name="project-name-did-1" class="select">
                          <option>Cống Trung Trang</option>
                          <option>Cống Cổ Tiểu</option>
                          <option>Cống Táo</option>
                          <option>Cống Mai Dương</option>
                          <option>Cống Cao Mật</option>
                        </select>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                  <!-- Dòng 2 -->
                  <tr>
                    <td>02</td>
                    <td>Quản lý tài sản</td>
                    <td>
                      <div class="select-wrapper2">
                        <select id="project-type-1" name="project-type-1" class="select">
                          <option>Sở NNPTNT</option>
                          <option>Công Ty</option>
                        </select>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                  <!-- Dòng 3 -->
                  <tr>
                    <td>03</td>
                    <td>Trạng thái công trình</td>
                    <td>
                      <div class="select-wrapper2">
                        <select id="project-status-1" name="project-status-1" class="select">
                          <option>Đã cắm mốc</option>
                          <option>Chưa cắm mốc</option>
                        </select>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                  <!-- Dòng 4 -->
                  <tr>
                    <td></td>
                    <td>Vi phạm lấn chiếm</td>
                    <td>
                      <input type="text" id="project-encroachment-violation-1" name="project-encroachment-violation-1"
                             readonly value="Đang cập nhật">
                    </td>
                    <td></td>
                  </tr>
                  <!-- Dòng 5 -->
                  <tr>
                    <td>04</td>
                    <td>Lịch sử công trình</td>
                    <td><input type="text" id="project-history-1" name="project-history-1"></td>
                    <td style="display: flex; align-items: center"><span
                      style="margin-right: 3px">Lịch sử sửa chữa: </span>
                      <input type="text" value="2 hồ sơ" style="width: 10vh; margin-right:30px" readonly>
                      <input type="search" placeholder="Tìm kiếm hồ sơ công trình..." id="project-history-file-1"
                             name="project-history-file-1" style="width: 45vh">
                      <span class="error-message" id="project-history-error-1"></span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="save-noti">
                <table>
                  <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- Dòng 1 -->
                  <tr>
                    <td></td>
                    <td></td>
                    <td>
                      Ghi chú: <input type="text">
                    </td>
                    <td>
                      Thông báo tới:
                      <select class="select">
                        <option>Không thông báo</option>
                        <option>Toàn công ty</option>
                        <option>Ban giám đốc</option>
                        <option>Phòng Kế hoạch - kỹ thuật</option>
                        <option>Trà (PTP KHKT)</option>
                      </select>
                    </td>
                    <td>
                      <button type="submit" class="butt-can" id="cancelBtn1-2">Hủy</button>
                      <button type="submit" class="butt-sav" id="saveBtn1-2">Lưu lại</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="m-t-2">
            <form action="#" method="get">
              <div class="search-boxx">
                <input type="text" class="search-txtt" placeholder="Tìm kiếm...">
              </div>
            </form>
          </div>
          <div class="m-t-3" id="menu-ellipsis">
            <div class="ellipsis-btn"><i class="fas fa-ellipsis-v"></i></div>
            <div class="menu-ellipsis1">
              <a class="menu-item-ell" id="toggleBtn1">Xóa</a>
              <a class="menu-item-ell">Sắp xếp theo hồ sơ công trình</a>
              <a class="menu-item-ell">Sắp xếp theo hồ sơ vi phạm</a>
              <a class="menu-item-ell">Sắp xếp theo hồ sơ vận hành</a>
              <a class="menu-item-ell">Sắp xếp theo hồ sơ khác</a>
            </div>
          </div>
        </div>
      </div>
      <div class="content-qlct" id="test" >
        <table>
          <thead>
          <tr>
            <th>ID</th>
            <th>Hạng mục</th>
            <th>Thông tin chung</th>
            <th>Thông tin quản lý</th>
            <th>Hồ sơ công trình</th>
            <th>Hồ sơ vi phạm</th>
            <th>Hồ sơ vận hành</th>
            <th>Hồ sơ khác</th>
            <th style="display: none" class="deleteColumn1">Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let ct of listCT; let i = index"
            class="{{ ct.name }}"
          >
            <td>{{ ct.maCT }}</td>
            <td style="text-align: left">{{ ct.name }}</td>
            <td
              (click)="toCongTrinhInfo(ct.maCT)"
              style="cursor: pointer"
            >
              Xem
            </td>
            <td style="cursor: pointer">Xem</td>
            <td style="cursor: pointer">
              {{ ct.hoSoCTCount > 0 ? ct.hoSoCTCount + " hồ sơ" : "-" }}
            </td>
            <td style="cursor: pointer">
              {{
              ct.hoSoViPhamCount > 0
                ? ct.hoSoViPhamCount + " hồ sơ"
                : "-"
              }}
            </td>
            <td style="cursor: pointer">
              {{
              ct.hoSoVanHanhCount && ct.hoSoVanHanhCount > 0
                ? ct.hoSoVanHanhCount + " hồ sơ"
                : "-"
              }}
            </td>
            <td style="cursor: pointer">
              {{
              ct.hoSoKhac && ct.hoSoKhac > 0
                ? ct.hoSoKhac + " hồ sơ"
                : "-"
              }}
            </td>
            <td style="display: none" class="deleteColumn1">
              <a class="icon-delete" (click)="iconDeleteCT(ct.maCT)"
              ><i class="fas fa-trash-alt" style="color: #1a0ce4"></i
              ></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
