* {
  font-family: 'Arial', serif;
}

.nav-log-1{
  width: 100%;
  height: 8vh;
  position: relative;
  display: flex;
}
.nav-log-1 img{
  width: 100%;
  height: 100%;
}
.nav-log-a{
  width: 50%;
  height: 100%;
  position: absolute;
  display: flex;
}
.logo-nav{
  width: 10%;
  height: 100%;
  margin-left: 10%;
}
.logo-nav img{
  width: 100%;
  height: 100%;
}
.title-nav{
  width: 30%;
  height: 100%;
  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  color: #003192;
  position: relative;
  display: flex;
  align-items: center;
}
.nav-log-b{
  width: 50%;
  height: 100%;
  position: absolute;
  display: flex;
  margin-left: 50%;
}
.title-b-nav-1{
  margin-left: 45%;
  width: 15%;
  height: 100%;
  text-align: right;
  font-family: Arial, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 18px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.title-b-nav-2{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
}
.title-b-nav-3{
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
}
.title-b-nav-1:hover, .title-b-nav-2:hover, .title-b-nav-3:hover{
  color: #4CAF50;
}
.nav-log-2{
  width: 100%;
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login{
  width: 50%;
  height: 80%;
  background: #E9E9E9;
  border-radius: 10px;
}
.log-1{
  width: 100%;
  height: 20%;
  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: #3600D0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-2{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
}
.log-3{
  width: 100%;
  height: 20%;
}
.log-4{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.log-5{
  width: 100%;
  height: 15%;
}
label {
  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #828282;
  display: block;
  margin-top: 3%;
  margin-left: 10%;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: none;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 80%;
  height: 45%;
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-left: 10%;
  font-size: 18px;
}
input[type="submit"]{
  background: #8348FF;
  border: 1px solid #C8AEFF;
  border-radius: 30px;
  width: 30%;
  height: 55%;
  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
span.psw {
  float: right;
  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 20px;
  margin-right: 50px;
}
.nav-log-3{
  width: 100%;
  z-index: 1;
  height: 5vh;
}
.nav-log-3 img{
  width: 100%;
  height: 100%;

}
.error-message {
  color: red;
  font-size: 18px;
  margin-left: 10%;
}
/* Điện thoại di động (kích thước nhỏ hơn 600px) */
@media only screen and (max-width: 600px) {
  .title-nav {
    font-size: 5vw;
  }
  .title-b-nav-1{
    margin-left: 5%;
    width: 30%;
  }
  .title-b-nav-2{
    width: 40%;
  }
  .title-b-nav-3{
    width: 20%;
  }
  .title-b-nav-1,
  .title-b-nav-2,
  .title-b-nav-3 {
    font-size: 2vw;
  }
  .log-1 {
    font-size: 4vw;
  }
  label {
    font-size: 3.5vw;
  }
  input[type="text"],
  input[type="password"] {
    font-size: 3vw;
  }
  input[type="submit"] {
    font-size: 3.5vw;
  }
  span.psw {
    font-size: 2.5vw;
  }
  .login {
    width: 80%;
    height: 70%;
  }
  .logo-nav{
    width: 20%;
    height: 90%;
    margin-left: 10%;
  }
}

/* Máy tính bảng (kích thước từ 600px đến 992px) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .title-nav {
    font-size: 4vw;
  }
  .title-b-nav-1{
    margin-left: 5%;
    width: 30%;
  }
  .title-b-nav-2{
    width: 40%;
  }
  .title-b-nav-3{
    width: 20%;
  }
  .title-b-nav-1,
  .title-b-nav-2,
  .title-b-nav-3 {
    font-size: 2vw;
  }
  .log-1 {
    font-size: 3.5vw;
  }
  label {
    font-size: 2.5vw;
  }
  input[type="text"],
  input[type="password"] {
    font-size: 2.2vw;
  }
  input[type="submit"] {
    font-size: 2.5vw;
  }
  span.psw {
    font-size: 2vw;
  }
  .login {
    width: 80%;
    height: 70%;
  }
  .logo-nav{
    width: 15%;
    height: 90%;
    margin-left: 10%;
  }
  label {
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #828282;
    display: block;
    margin-top: 1%;
    margin-left: 10%;
  }
}
